<html>
  <head>
    <title>{{Acceuil}}</title>
  </head>
  <body>
    <center><h2><font color="green">{{Acceuil}}</h2></center>
    <center><i><h5>{{Nom d'utilisateur}}</font><i></h5></center>
    <div align="left">
    	<h5>Construire ensemble</h5>
    </div>
    <table width="100%"><tr><td width="75%">
    	<center><h4>Liste des projets</h4></center>
    	{% for projet in projets %}
        <h5>{{projet.nom}}</h5>
        <img href="{{projet.image}}"/>
        <h5><b>{{projet.valeur}} &euro;</b></h6>
        {{projet.commentaire}}<br>
        <br>{{projet.description}}<br>
        <br>
      {% endfor %}
    </td><td width="25%">
			<div align="right">
				{{texteentrepreneur}}
				<h6><font color="green">{{Nom d'utilisateur}}</font></h6>
      	<img= href="{{imgentrepreneur}}"/>
      </div>
    </td></table>
