<html>
  <head>
    <title>{{Acceuil}}</title>
  </head>
  <body>
  	<center><h2><font color="blue">{{Acceuil}}</h2></center>
    <center><i><h5>{{Nom d'utilisateur}}</font><i></h5></center>
    <h5><i>Donner pour construire</i></h5>
 	<table width="100%"><tr><td width="25%">
  	<div align="left">
  		{{textedonateur}}
  		<h6><font color="blue">{{Nom d'utilisateur}}</font></h6>
			<img= href="{{imgdonateur}}"/>
		</div>
	</td><td width="75%">
		<br>
		<h4><center>Liste des projets</h4></center>
        {% for projet in projets %}
        <h5>{{projet.nom}}</h5>
        <img href="{{projet.image}}"/>
        <h5><b>{{projet.valeur}} &euro;</b></h6>
        {{projet.commentaire}}<br>
        <br>{{projet.description}}<br>
        <br>
        {% endfor %}
    </td></tr></table>
