<html>
	<head>
		<title>{{Inscription}}</title>
	</head>
	<body>
		<center><h2><b>{{Contratutilisateur}}</b></h2></center>
			<table width="100%"><tr><td width="50%"><tr width="50%"><center><h4>{{Nom d'utilisateur}}</center></h4>
	<h6><center>Merci d'avoir choisi notre site {{Prénom}} {{Nom}}</center>
		<center>{{Contrat}}</center>
	<h6><i><center>Vous pourrez rajouter une carte de cr&eacute;dit ult&egrave;rierement dans votre espace utilisateur</center></i><h6>
	<h6><i>R&eacute;capitulatif des coordonn&eacute;es {{Nom d'utilisateur}} : </i></h6>
		<h6>{{Pays de résidence}}</h6>
		<h6>{{Date de naissance}}</h6>
		<h6>{{Adresse mail}}</h6>
		<h6>{{Numéro de téléphone principal}}</h6>
		<h6>{{Numéro de téléphone supplémentaire}}</h6>
	<FORM>
	<INPUT type= "radio" name="tarif" value="jour"> tarif de jour
