<html>
  <head>
    <title>{{Nom d'utilisateur}}</title>
  </head>
  <body>
    <h2><center><font color="green">{{Nom d'utilisateur}}</center></h2>
    <h6><center><i>Construire ensemble</font></i></center></h6>
    <br>
		<table width="100%">
			<td width="50%">
				<center><h5>Vos projets</center></h5>
      		{% for projet in projets %}
      		<h5>{{projet.nom}}</h5>
      		<img href="{{projet.image}}"/>
      		<h5><b>{{projet.collecte}} &euro;</b></h5>
       		{{projet.commentaire}}<br>
        	<br>{{projet.description}}<br>
					<br>{% endfor %}
					<br><br>
				<center><h5>Entreprendre un nouveau projet</h5></center>
				<table width="100%">
					<td width="40%">
						#Upload d'une image
					</td><td width="60%">
						<h6>Nom du projet</h6>
						<FORM method="POST" ACTION= "#Adresse de la page">
						<h6>Montant demand&eacute;</h6>
						<FORM method="POST" ACTION= "#Adresse de la page">
						<h6>Description compl&egrave;te du projet</h6>
						<FORM method="POST" ACTION= "#Adresse de la page">
					</td>
				</table>
			</td><td width="50%">
				<center><h5>Profil entrepreneur</center></h5>
				<br>
				Il s'agit de votre profil, tel que les visiteurs du site le verront. Vous pouvez le laisser vide. Ou bien le compl&egrave;ter et lui adjoindre une description, une photo et un CV.
				<br><br>
				<table width="100%">
					<td width=50%">
						<h6>Description</h6>
						<FORM method="POST" ACTION= "#Adresse de la page">
						<h6>CV
						<FORM method="POST" ACTION= "#Adresse de la page">
					</td><td width="50%">
						#Upload d'une image
					</td>
				</table>
				<br>
				<center><h5>Coordonn&eacute;es financi&egrave;res</center></h5>
				<br>
				<table width="100%">
					<td width="50%">
					<div align="left">
						<h6>Num&eacute;ro de carte bancaire</h6>
						<FORM method="POST" ACTION= "#Adresse de la page">
						<h6>Cryptogramme</h6>
						<FORM method="POST" ACTION= "#Adresse de la page">
						<h6>&Eacute;tablissement bancaire</h6>
						<FORM method="POST" ACTION= "#Adresse de la page">
					</div>
					<td width="50%">
					<div align="left">
						<h6><font color="purple">Nom de la carte</h6>
					</div>
					<FORM method="POST" ACTION= "#Adresse de la page">
					</font>
					</td>
				</table>
