<html>
  <head>
    <title>{{Acceuil}}</title>
  </head>
  <body>
    <center><h2><font color="blue">{{Acceuil}}</h2></center>
    <center><i><h5>{{username}}</font><i></h5></center>
    <center><h6>Donner pour construire</h6></center>
      <img= href="{{imgdonateur}}"/>
        <table border="0" cellspacing="0" cellpadding="0">
        <tr height="2"><td></td></tr>
        <tr><td></td></tr>
        </table>
    <center><h1>Liste des projets</h1></center>
      <ol>
        {% for projet in projets %}
        <li><h5>{{projet.nom}}</h5></li>
        <li><img href="{{projet.image}}"/></li>
        <li><h6>{{projet.valeur}} €</h6></li>
        <li><h5>{{projet.description}}</h5></li>
        {% endfor %}
      </ol>
