<html>
  <head>
    <title>{{Interface donateur}}</title>
  </head>
  <body>
    <h2>{{username}}</h2>
    <h4>Projet à la une</h4>
      <img src={{}}> {{photo}} + 
      <h5>{{nom}}</h5> + {{description}} + {{commentaire}} + {{valeurinvestisssement}}
    <h5>Projets soutenus</h5>
      # 4 * ({{Image}} + {{commentaire}} + {{montant investi}})
    <h4>Informations financières</h4>
      # {{montantinvesti}} + {{benefeneuro}} + {{dureeenmois}}
    <h5>{{Coordonnées financières}}</h5>
      # [[Numéro de carte]] + [[Cryptogramme]] + [[Etablissement]] + [[Nom]] -
      # {{nom}} + {{cryptogramme}} + {{etablissement}} + {{numerogrise}}

